<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../vendor/normalize.css">
  <link rel="stylesheet" href="../../vendor/fonts.css">
  <link rel="stylesheet" href="./login.css">
  <title>Login</title>
</head>

<body class="page">
  <form class="form" action="#">
    <div class="form__top">
      <h2 class="form__title">Вход</h2>
      <label class="form__label">Логин</label>
      <input class="form__input" type="text" placeholder="Login" name="login" required></input>
      <label class="form__label">Пароль</label>
      <input class="form__input" type="password" placeholder="Пароль" name="password" required></input>
    </div>
    <div class="form__bottom">
      <button class="form__button" type="submit">Авторизироваться</button>
      <a href="../registration/registration.hbs" class="form__link">Нет аккаунта?</a>
    </div>
  </form>
</body>

</html>