<div class="page">
  <main class="not-found">
    <h1 class="not-found__title">{{code}}</h1>
    <p class="not-found__text">{{text}}</p>
    <a class="not-found__link" href="{{link}}">{{linkText}}</a>
  </main>

</div>