<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./registration.css">
  <title>Registration</title>
</head>

<body class="page">
  <form class="form" action="#">
    <div class="form__top">
      <h2 class="form__title">Регистрация</h2>
      <label class="form__label">Почта</label>
      <input class="form__input" type="email" placeholder="pochta@yandex.ru" name="email" required></input>
      <span class="form__error" id="email-input-error"></span>
      <label class="form__label">Логин</label>
      <input class="form__input" type="text" placeholder="ivanivanov" name="login" required></input>
      <span class="form__error" id="login-input-error"></span>
      <label class="form__label">Имя</label>
      <input class="form__input" type="text" placeholder="Имя" name="name" required></input>
       <span class="form__error" id="name-input-error"></span>
       <label class="form__label">Фамилия</label>
      <input class="form__input" type="text" placeholder="Фамилия" name="lastName" required></input>
      <span class="form__error" id="lastName-input-error"></span>
       <label class="form__label">Телефон</label>
      <input class="form__input" type="tel" placeholder="Номер телефона в формате: 123-456-7890"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" required></input>
      <span class="form__error" id="phone-input-error"></span>
      <label class="form__label">Пароль</label>
      <input class="form__input" type="password" placeholder="Пароль" name="password" required></input>
      <label class="form__label">Пароль (еще раз)</label>
      <input class="form__input" type="password" placeholder="Пароль" name="password" required></input>
      <span class="form__error" id="password-input-error"></span>
    </div>
    <div class="form__bottom">
      <button class="form__button" type="submit">Зарегистрироваться</button>
      <a href="../login/login.hbs" class="form__link">Войти</a>
    </div>
  </form>
</body>

</html>