<main class="page">
  <section class="popup">
    <div class="popup__container">
      <h2 class="popup__title">Загрузите файл</h2>
      <form class="input__wrapper" enctype="multipart/form-data" method="post">
        <input
          name="avatar"
          type="file"
          id="avatar"
          class="input input__file"
          accept="image/*"
          multiple
        />
        <label for="input__file" class="input__file-button">
          <span class="input__file-button-text">Выбрать файл на компьютере</span>
        </label>
        {{{Button}}}
        <span class="popup__error" id="popup__error">Нужно выбрать файл</span>
      </form>

    </div>
  </section>

</main>