<main class="page">
  <section class="popup">
    <div class="popup__container">
      <h2 class="popup__title">Загрузите файл</h2>
      <div class="input__wrapper">
        <input
          name="file"
          type="file"
          name="file"
          id="input__file"
          class="input input__file"
          multiple
        />
        <label for="input__file" class="input__file-button">
          <span class="input__file-button-text">Выбрать файл на компьютере</span>
        </label>
      </div>
      {{{Button}}}
      <span class="popup__error">Нужно выбрать файл</span>
    </div>
  </section>

</main>