<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../vendor/normalize.css">
  <link rel="stylesheet" href="../../vendor/fonts.css">
  <link rel="stylesheet" href="./change-password.css">
  <title>Profile</title>
</head>

<body class="page">
  <main class="profile">
    <section class="profile__left">
      <a href="#" class="profile__left_link"></a>
    </section>
    <section class="profile__right">
      <div class="avatar"></div>
      <form class="form" action="#">
        <div class="form__element">
          <label class="form__label">Старый&nbsp;пароль</label>
          <input class="form__input" type="password"  name="password" required></input>
        </div>
        <div class="form__element">
          <label class="form__label">Новый&nbsp;пароль</label>
          <input class="form__input" type="password"  name="newPassword" required></input>
        </div>
        <div class="form__element">
          <label class="form__label">Повторите&nbsp;новый&nbsp;пароль</label>
          <input class="form__input" type="password"  name="newPasswordRepeat" required></input>
        </div>

        <div class="form__bottom">
            <button class="form__button" type="submit">Сохранить</button>
        </div>
      </form>
    </section>
  </main>

</body>

</html>