.avatar {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: var(--avatar-bg-color);
  cursor: pointer;
  transition: 1s;
  margin-bottom: 21px;
  border: none;
}
.avatar:hover {
  opacity: 0.7;
}
