<html lang="ru">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./not-found.css" />
    <title>404</title>
  </head>

  <body class="page">
    <main class="not-found">
      <h1 class="not-found__title">404</h1>
      <p class="not-found__text">Не туда попали</p>
      <a class="not-found__link" href="#">Назад к чатам</a>
    </main>

  </body>

</html>